# Ignore build directory.
/build/
/!build/
*/build/
*/!build/
*/*/build/
*/*/!build/

# Ignore Windows image file caches.
Thumbs.db
ehthumbs.db

# Ignore Window folder config file.
Desktop.ini

/Testing Game Maker Studio Conversion/